body{
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(../assets/dgrey.png);
	background-repeat: no-repeat;
  	background-attachment: fixed; 
 	background-size: 100% 100%;
}

h1{
	font-size: 60px;
}
p{
	font-size: 25px;
}
body .fa{
	text-decoration: none;
	padding: 50px;
	font-size: 50px;
	color: #000;
}
.us{
	padding: 50px;
	text-align: center;
	color: white;
	width: 100%;
	height: 100%;
}
.about img{
  height: 750px;
  weight: 550px;
}