body{
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(../assets/dgrey.png);
	background-repeat: no-repeat;
  	background-attachment: fixed; 
 	background-size: 100% 100%;
}
h1 {
  text-align: center;
  font-size: 50px;
}
body .fa{
	text-decoration: none;
	padding: 50px;
	font-size: 50px;
	color: #000;
}
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  resize: center;
}

input[type=submit] {
  background-color: #255a6a;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #000000;
}

/* Style the container/contact section */
.container {
  padding: 100px;
  color:white;
}

/* Create two columns that float next to eachother */
.column2 {
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}