@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url("https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.text-purple {
  color: rgb(139, 7, 139);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #020202;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

section {
  padding-top: 28vh;
  padding-bottom: 10vh;
  min-height: 85vh;
  color: white;
}

section#product-info {
  padding-top: 5vh;
}

section#product-info ul li {
  transition: 200ms opacity;
}

section#product-info ul li.active {
  border-top: 2px solid rgb(179, 28, 28);
}

section#product-info ul li:hover {
  transform: scale(1.02);
  opacity: 0.7;
}

section#hero-main,
section#product-info,
section#create-account {
  background: url("../assets/background_img.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

section#products {
  background: url("../assets/products-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

section#products .category-title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid rgba(156, 156, 156, 0.767);
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
}

section#products .products-row.kids .product img {
  max-width: 100%;
  max-height: 200px;
  transition: 300ms ease-in-out;
  height: 200px;
}

section#products .products-row .product {
  position: relative;
  overflow: hidden;
  border: none;
  transition: 300ms ease-in-out;
}

section#products .products-row .product img {
  max-width: 100%;
  max-height: 200px;
  transition: 300ms ease-in-out;
}

section#products .products-row .product .add-to-cart {
  opacity: 0;
  transition: 300ms ease-in-out;
}

section#products .products-row .product .add-to-cart button {
  border-radius: 0;
}

section#products .products-row .product:hover {
  border: 1px solid rgb(207, 207, 207);
  box-shadow: 1px 1px 10px rgb(190, 190, 190);
}

section#products .products-row .product:hover .add-to-cart {
  opacity: 1;
}

section#products .products-row .product:hover img {
  transform: scale(1.06);
}

section#create-account {
  padding-top: 23vh;
  padding-bottom: 20vh;
}

section#about-us {
  background: url("../assets/diytailoring_edited.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

section#about-us .about-slider {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  min-height: 70vh;
  position: relative;
}

section#about-us .about-slider .control {
  position: absolute;
  font-size: 5rem;
  cursor: pointer;
  opacity: 0.4;
}

section#about-us .about-slider .control:hover {
  opacity: 1;
}

section#about-us .about-slider .control:first-child {
  left: 0;
}

section#about-us .about-slider .control:last-child {
  right: 0;
}

section#about-us .about-slider .content {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

section#about-us .about-slider .content .slide {
  text-align: center;
  display: none;
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

section#about-us .about-slider .content .slide.active {
  display: block;
}

section#contact-us {
  background: url("../assets/contact-us-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

section#newsletter {
  background: url("../assets/contact-us-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

section .product-slider .slider {
  overflow: hidden;
  width: 100%;
  height: 500px;
  margin: auto;
  position: relative;
  text-align: center;
}

section .product-slider .slider .slides {
  display: flex;
  transition: 0.3s ease-in-out;
  position: absolute;
  left: 0;
  margin: auto;
}

section .product-slider .slider .slides .slide {
  width: 400px;
  margin: 0 50px;
  transition: 0.5s;
}

section .product-slider .slider .slides .slide.active {
  opacity: 1;
}

section .product-slider .slider .slides .slide img {
  max-width: 100%;
}

.categories-nav li.nav-item {
  position: relative;
  display: inline-block;
}

.categories-nav li.nav-item .top-link {
  padding-bottom: 20px;
}

.categories-nav li.nav-item:hover .menu-wrapper {
  height: auto;
  z-index: 2;
  overflow: unset;
}

.categories-nav li.nav-item:hover .top-link {
  color: rgb(179, 28, 28);
}

.categories-nav .menu-wrapper {
  top: 52px;
  position: absolute;
  background: grey;
  z-index: 2;
  height: 0;
  overflow: hidden;
  transition: 200ms ease-in;
}

.categories-nav .menu-wrapper ul.menu {
  list-style: none;
  padding-left: 0;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  max-height: 400px;
}

.categories-nav .menu-wrapper ul.menu li {
  text-align: left;
  margin-bottom: 5px;
}

.categories-nav .menu-wrapper ul.menu li a {