@use "animations" as *;
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;500&display=swap");

$barlow: "Barlow", sans-serif;
$green: rgb(45, 160, 0);
body {
  margin: 0;
  padding: 0;
  background: url("../assets/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}
// scroll bar
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(81, 82, 81)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  font-family: $barlow;
  font-weight: 300;
}

.img-logo {
  &.sm {
    width: 40px;
  }
  &.md {
    width: 100px;
  }
  &.lg {
    width: 200px;
  }
}

// styles
.browse-btn {
  border-radius: 35% 35% 0 0;
  padding-top: 20px;
}

.slider {
  overflow: hidden;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  align-items: center;
  .content{
  }
  .title {
    width: max-content;
    margin: auto;
    border: 3px solid white;
    text-transform: uppercase;
    margin-bottom: 25px;
    padding: 5px 29px;
  }
  .control {
    font-size: 4rem;
    margin-top: 70px;
  }
  .slide {
    display: none;
    animation: 300ms fade ease-in-out 1;
    img {
      border: 3px solid white;
      border-radius: 5px;
      width: 180px;
      height: 180px;
      // max-width: 100%;
      // max-height: 100%;
    }

    &.active {
      display: block;
    }
  }
}

// hero main
#hero-main {
  min-height: 95vh;
  display: flex;
  align-items: center;
}
section{
  // background: rgba(black, 0.2);

  padding: 100px 0 100px 0;
}
// featured products section
section#featured {
  .featured-products {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-around;
    flex-wrap: wrap;
    .img-wrapper {
      width: 250px;
      height: 250px;
      overflow: hidden;
      position: relative;
      margin-bottom: 10px;
      // border-radius: 50%;
      .overlay {
        border: 3px solid #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(#000, 0.3);
        transition: 200ms;

        * {
          font-weight: 500;
          text-transform: uppercase;
        }
        &:hover{
          background: rgba(#000, 0.7);

        }
      
      }
      img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
.title {
  width: max-content;
  margin: auto;
  border: 3px solid white;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding: 5px 29px;
}
.products-row{
  .product{
    img{
      width: 200px;
      height: 200px;
      background: white;
      border-radius: 50%;
      transition: all 200;
    }
    .wrapper
    {
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      box-sizing: border-box;
      width: fit-content;
      margin: auto;
      .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(rgb(0, 0, 0),0.7);
        color: rgb(207, 207, 207);
        border-radius: 50%;
        box-sizing: border-box;
        opacity: 0;
        transition: 100ms;
      }

      &:hover{
        .overlay{
          opacity: 1;
        }
      }
    }
    
  }
}

#login-modal{
  form{
  }
}
// about section

section#about,section#product-section {
  // background: rgba(black, 0.5);
}
section#footer {
  // background: rgba(black, 0.5);
}
@each $animation, $value in $animations {
  .anim-#{$animation} {
    animation: $value;
  }
}

@keyframes float {
  30% {
    transform: translateY(5px);
  }
  70% {
    transform: translateY(-5px);
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-fade-right {
  from {
    transform: translateX(500px);
    opacity: 0.2;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


// media queries

@media screen and (max-width:1000px) {
  .slider{
    .slide{
      img{
        width: 150px;
        height: 150px;
      }
    }
    .control{
      font-size: 3.5rem;
    }
  }
}

@media screen and (max-width:780px) {
  .slider{
    .slide{
      img{
        width: 110px;
        height: 110px;
      }
    }
  }
}

@media screen and (max-width:550px) {
  .slider{
    .slide{
      img{
        width: 80px;
        height: 80px;
      }
    }
    .control{
      font-size: 2.8rem;
    }
  }
}

@media screen and (max-width:420px) {
  .slider{
    .slide{
      img{
        width: 50px;
        height: 50px;
      }
    }
  }
}