@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;500&display=swap");

body {
  margin: 0;
  padding: 0;
  background: url("../assets/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(81, 82, 81);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}

.img-logo.sm {
  width: 40px;
}

.img-logo.md {
  width: 100px;
}

.img-logo.lg {
  width: 200px;
}

.browse-btn {
  border-radius: 35% 35% 0 0;
  padding-top: 20px;
}